<div class="d-flex">
  <span class="flex-grow-1">
    <label for="firstName">First Name:</label>
    <input #first type="text" id="firstName" maxLength="50"/>
  </span>
  <span class="flex-grow-1">
    <label for="lastName">Last Name:</label>
    <input #last type="text" id="lastName" maxlength="50"/>
  </span>
</div>
<div class="d-flex justify-content-end">
  <button class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
  <button class="btn btn-primary ml-2" (click)="saveName()">OK</button>
</div>
